<!--<div class="row">-->
<!--  <div class="col-md-6" *ngFor="let question of questions">-->
<!--    <p>{{question.id}}</p>-->
<!--    <p>{{question.timeLimit}}</p>-->
<!--    <p>{{question.questionText}}</p>-->
<!--    <p>{{question.questionOrder}}</p>-->
<!--    <p>Answers:</p>-->
<!--    <div class="ms-1" *ngFor="let answer of question.answers">-->
<!--      <p>{{answer.id}}</p>-->
<!--      <p>{{answer.answerText}}</p>-->
<!--      <p>{{answer.answerOrder}}</p>-->
<!--      <p>{{answer.correct}}</p>-->
<!--  </div>-->
<!--</div>-->

<div class="text-center">
  <h3 class="mb-5">Lobby successfully entered</h3>
  <h2>Waiting for the game to begin...</h2>
  <app-abort-button></app-abort-button>
</div>

