.main-container {
  height: 100vh;
  width: 100vw;
  align-self: flex-start;
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
}

.game-pin-bar{
  background-color: gray;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin-bottom: 1rem;
}

.game-pin-area{
  background-color: white;
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.content-area {
  flex-grow: 1;
}

.command-panel {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.player-number-indicator {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 0.5rem;
}

.logo {
  background-color: aliceblue;
  padding: 1.5rem;
  display: none;
}

.btn.no-hover:hover {
  cursor:default !important;
  color: #fff;
  background-color: #6c757d;
  border-color:#6c757d;
}

.nickname-area {
  display: flex;
  height: 75%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.nickname-box {
  padding: 3rem;
  display: flex;
  flex-wrap: wrap;
  row-gap: 32px;
  column-gap: 24px;
  justify-content: center;
}

.refresh-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  position: absolute;
  top: 16rem;
  right: 3rem;
}

