<div>
  <div class="d-flex flex-column vw-100 p-5">
    <div class="row d-flex align-items-center justify-content-between">
      <div class="d-flex align-items-center justify-content-center text-center mb-3 col-lg-6 col-12 question-area order-lg-2">
        <h3>{{question === undefined ? "" : question.questionText}}</h3>
      </div>
      <div class="mb-lg-5 col-lg-3 col-6 order-lg-1">
        <h3>Remaining time: {{remainingTime}}</h3>
      </div>

      <div class="text-center mb-lg-5 col-lg-3 col-6 order-lg-3">
        <p class="fs-3 fw-bold mb-0">{{playersAnswered}}</p>
        <p class="fs-5 fw-bold mb-1">Answers</p>
      </div>
    </div>

    <div class="d-flex align-items-center justify-content-around mt-lg-5"></div>
    <div class="row d-flex align-items-center mb-xl-5">
      <div class="col-lg-6" *ngFor="let answer of question.answers; index as i;">
        <app-admin-answer-element class="passiveAnswerElement" [answer]="answer">
        </app-admin-answer-element>
      </div>
    </div>

  </div>
</div>
